{% extends 'base.html' %} {% block title %}Requests | Hospital {% endblock %}
{%block content %} {% include 'hospital/nav.html' %} {% load crispy_forms_tags%}
<div class="row">
  <div class="col text-end">
    <a
      href="/hospital/raise_request"
      rel="noopener noreferrer"
      class="btn btn-link"
      >Raise A Request</a
    >
  </div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped table-hover">
          <tr>
            <th>Id</th>
            <th>Hospital Name</th>
            <th>Requested Blood Group</th>
            <th>Requested Blood Units</th>
            <th>Actions</th>
          </tr>
          {% for req in requests %}
          <tr>
            <td>{{req.id}}</td>
            <td>{{req.hospital}}</td>
            <td>{{req.blood_group}}</td>
            <td>{{req.units}} Unit(s)</td>
            <td>
              <a
                href="/hospital/requests/delete/{{req.id}}"
                rel="noopener noreferrer"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

{% endblock %}
